.env
.python-version
__pycache__/
airflow/
serving_model_dir/
tflite_model_dir/
.idea/
.ipynb_checkpoints/
.venv/
data/
pipeline_run_beam/
pipeline_run_airflow/
kubeflow_persistent_volume/
utils/__pycache__/
modules/__pycache__/
models/__pycache__/
models/model_for_numerical_feature/__pycache__/
models/model_for_text_feature/__pycache__/
components/custom_components/data_cleaner/.ipynb_checkpoints/
making_prediction_from_model_server/__pycache__/
making_prediction_from_model_server/via_rest_api/__pycache__/
making_prediction_from_model_server/via_grpc/__pycache__/
components/data_ingestion/__pycache__/
components/custom_components/feature_engineering/__pycache__/
components/data_validation/__pycache__/
components/data_transformation/__pycache__/
components/model_analysis_and_validation/__pycache__/
components/model_trainer/__pycache__/
components/custom_components/data_cleaner/__pycache__/
components/custom_components/schema_updater/__pycache__/
components/custom_components/human_evaluator/__pycache__/
pipelines/__pycache__/
pipelines/apache_airflow_pipeline/__pycache__/
pipelines/apache_beam_pipeline/__pycache__/
pipelines/kubeflow_pipeline/__pycache__/
